body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: #fefefe;
}

.cv-link {
    color: #44ceb5;
    font-size: 90%;
}

.summary {
    width: 50vw;
    text-align: justify;
    font-size: 90%;
}

.img-circle {
    border-radius: 85%;
    height: 300px;
    margin-top: -1.4em;
}

.social-media {
    width: 42px;
    height: 42px;
}

.language-selector {
    text-align: right;
    margin-top: 0.1em;
    margin-right: 0.2em;
    font-size: 90%;
    color: #7c7d7f;
}

.language-selector a:link {
    text-decoration: none;
    color: #7c7d7f;
}

.language-selector a:visited {
    text-decoration: none;
}

.language-selector a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #7c7d7f;
}

.language-selector a:active {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.flag {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-bottom: 0.3em;
}

a.active {
    font-weight: bold;
    color: #000000;
}

a.unactive {
    color: #7c7d7f;
}