@font-face {
	font-family: "brandon-grotesque-regular";
	src:
	url("./fonts/brandongrotesque-regular.otf") format("opentype"),
	url("./fonts/brandongrotesque-regular-webfont.woff") format("woff");
}

body {
    font-family: "brandon-grotesque-regular", Helvetica, Arial, sans-serif;
    background-color: #fefefe;
}

.cv-link {
    color: #44ceb5;
    font-size: 90%;
}

.cv-link:first-child {
    padding-right: 5em;
}

.cv-links {
    padding-bottom: 20px;
}

.summary {
    width: 63vw;
    text-align: justify;
    font-size: 100%;
}

.img-circle {
    border-radius: 85%;
    height: 300px;
    margin-top: -1.4em;
}

.social-media {
    width: 42px;
    height: 42px;
}

.language-selector {
    text-align: right;
    margin-right: 0.2em;
    color: #7c7d7f;
}

.language-selector a:link {
    text-decoration: none;
    color: #7c7d7f;
}

.language-selector a:visited {
    text-decoration: none;
}

.language-selector a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #7c7d7f;
}

.language-selector a:active {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.flag {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-bottom: 0.3em;
}

a.active {
    font-weight: bold;
    color: #000000;
}

a.unactive {
    color: #7c7d7f;
}